div {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

p {
  margin: 5px 0;
  font-size: 14px;
}

a {
  color: #5b9bd5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
